{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "SDKWork Cloud Services API",
    "version": "0.1.0",
    "description": "Definition-only OpenAPI contract for SDKWork cloud service aggregation. Object storage follows the S3-compatible protocol model. IaaS compute APIs normalize provider capabilities for virtual machines, images, flavors, SSH keys, security groups, block volumes, Docker-compatible containers, and deployment rollouts across AWS, Azure, Google Cloud, Alibaba Cloud, Tencent Cloud, Huawei Cloud, and Volcengine."
  },
  "servers": [
    {
      "url": "https://api.sdkwork.com",
      "description": "SDKWork production API gateway"
    },
    {
      "url": "http://localhost:18080",
      "description": "Local SDKWork API gateway"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Cloud Storage/S3 Providers",
      "x-display-order": 10,
      "description": "S3-compatible provider discovery, account metadata, supported regions, credential modes, and capability matrix."
    },
    {
      "name": "Cloud Storage/S3 SDK",
      "x-display-order": 20,
      "description": "Browser and frontend SDK configuration for reusing S3-compatible clients with scoped credentials or presigned flows."
    },
    {
      "name": "Cloud Storage/S3 Buckets",
      "x-display-order": 30,
      "description": "S3 bucket lifecycle, location, versioning, CORS, lifecycle rule, and bucket policy contracts."
    },
    {
      "name": "Cloud Storage/S3 Objects",
      "x-display-order": 40,
      "description": "S3 object list, put, get, head, copy, delete, object metadata, and provider request header contracts."
    },
    {
      "name": "Cloud Storage/S3 Multipart",
      "x-display-order": 50,
      "description": "S3 multipart upload create, upload part, list parts, complete, and abort contracts."
    },
    {
      "name": "Cloud Storage/S3 Presigned",
      "x-display-order": 60,
      "description": "S3-compatible presigned URL and presigned POST policy contracts for browser upload/download flows."
    },
    {
      "name": "Cloud Storage/S3 Native",
      "x-display-order": 70,
      "description": "Controlled provider-native operation envelope for S3-compatible provider features not yet promoted into the unified model."
    },
    {
      "name": "Cloud IaaS/Providers",
      "x-display-order": 80,
      "description": "IaaS provider discovery, credential modes, supported regions, zones, and capability matrix."
    },
    {
      "name": "Cloud IaaS/Regions",
      "x-display-order": 90,
      "description": "Normalized cloud region and availability zone inventory used by compute, container, and deployment operations."
    },
    {
      "name": "Cloud IaaS/Compute Instances",
      "x-display-order": 100,
      "description": "Virtual machine instance inventory, creation, mutation, lifecycle actions, and deletion."
    },
    {
      "name": "Cloud IaaS/Compute Catalog",
      "x-display-order": 110,
      "description": "Compute image and flavor catalog for provider-specific instance provisioning."
    },
    {
      "name": "Cloud IaaS/Access Network",
      "x-display-order": 120,
      "description": "SSH keys, security groups, and ingress or egress rule contracts for compute workloads."
    },
    {
      "name": "Cloud IaaS/Block Storage",
      "x-display-order": 130,
      "description": "Block volume inventory, provisioning, attachment, detachment, resizing, and deletion contracts."
    },
    {
      "name": "Cloud IaaS/Containers",
      "x-display-order": 140,
      "description": "Docker-compatible container workload contracts for lightweight runtime management."
    },
    {
      "name": "Cloud IaaS/Deployments",
      "x-display-order": 150,
      "description": "Application, release, deployment target, rollout, promotion, and rollback contracts."
    },
    {
      "name": "Cloud IaaS/Native",
      "x-display-order": 160,
      "description": "Controlled provider-native operation envelope for IaaS capabilities not yet promoted into the unified model."
    }
  ],
  "x-api-prefix": "/cloud/v3",
  "x-sdkwork-contract-state": "definition-only",
  "x-sdkwork-sdk-family": "cloud-services",
  "x-s3-compatible": true,
  "x-supported-provider-codes": [
    "aws_s3",
    "minio",
    "cloudflare_r2",
    "aliyun_oss",
    "tencent_cos",
    "huawei_obs",
    "volcengine_tos",
    "baidu_bos",
    "aws_ec2",
    "azure_compute",
    "gcp_compute",
    "alicloud_ecs",
    "tencent_cvm",
    "huawei_ecs",
    "volcengine_ecs"
  ],
  "paths": {
    "/cloud/v3/storage/providers": {
      "get": {
        "operationId": "cloudStorageProviders.list",
        "summary": "List S3-compatible storage providers",
        "description": "Lists configured cloud object storage provider plugins and their normalized S3-compatible capability coverage.",
        "tags": [
          "Cloud Storage/S3 Providers"
        ],
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Provider plugin list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3StorageProviderListResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/S3StorageProviderListResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "SDKWorkListStorageProviders"
      }
    },
    "/cloud/v3/storage/providers/{providerCode}/capabilities": {
      "get": {
        "operationId": "cloudStorageProviders.capabilities.retrieve",
        "summary": "Retrieve S3 provider capabilities",
        "description": "Retrieves normalized S3-compatible bucket, object, multipart, presign, credential, endpoint, and region metadata for a provider plugin.",
        "tags": [
          "Cloud Storage/S3 Providers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/StorageProviderCodePath"
          }
        ],
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Provider capability metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3StorageProviderCapabilitiesResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/S3StorageProviderCapabilitiesResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "SDKWorkGetStorageProviderCapabilities"
      }
    },
    "/cloud/v3/storage/sdk-config": {
      "get": {
        "operationId": "cloudStorageSdkConfig.retrieve",
        "summary": "Retrieve browser S3 SDK config",
        "description": "Returns an S3-compatible endpoint, region, path-style flag, scoped bucket and optional temporary credentials so frontend code can reuse AWS S3-compatible SDKs such as @aws-sdk/client-s3 and @aws-sdk/s3-request-presigner.",
        "tags": [
          "Cloud Storage/S3 SDK"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/StorageProviderCodeQuery"
          },
          {
            "$ref": "#/components/parameters/BucketQuery"
          },
          {
            "$ref": "#/components/parameters/RegionQuery"
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "Frontend SDK mode to request. Use temporaryCredentials for direct S3 SDK calls or presignedOnly for upload/download through presigned URLs only.",
            "schema": {
              "type": "string",
              "enum": [
                "temporaryCredentials",
                "presignedOnly"
              ],
              "default": "temporaryCredentials"
            }
          }
        ],
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "S3-compatible SDK configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3ClientSdkConfigResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/S3ClientSdkConfigResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "SDKWorkGetS3ClientSdkConfig"
      }
    },
    "/cloud/v3/storage/buckets": {
      "get": {
        "operationId": "cloudStorageBuckets.list",
        "summary": "List S3 buckets",
        "description": "Lists buckets available to the selected S3-compatible provider account.",
        "tags": [
          "Cloud Storage/S3 Buckets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/StorageProviderCodeQuery"
          },
          {
            "$ref": "#/components/parameters/RegionQuery"
          }
        ],
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Bucket list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3BucketListResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "ListBuckets"
      }
    },
    "/cloud/v3/storage/buckets/{bucket}": {
      "put": {
        "operationId": "cloudStorageBuckets.create",
        "summary": "Create S3 bucket",
        "description": "Creates a bucket using S3-compatible bucket creation semantics. Provider plugins map region and location constraints to provider-native fields.",
        "tags": [
          "Cloud Storage/S3 Buckets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/S3CreateBucketRequest"
              }
            }
          }
        },
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Bucket created or already available.",
            "headers": {
              "S3RequestId": {
                "$ref": "#/components/headers/S3RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3BucketResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "CreateBucket"
      },
      "head": {
        "operationId": "cloudStorageBuckets.head",
        "summary": "Head S3 bucket",
        "description": "Checks whether the selected S3-compatible bucket exists and is accessible.",
        "tags": [
          "Cloud Storage/S3 Buckets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          }
        ],
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Bucket exists.",
            "headers": {
              "S3RequestId": {
                "$ref": "#/components/headers/S3RequestId"
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "HeadBucket"
      },
      "delete": {
        "operationId": "cloudStorageBuckets.delete",
        "summary": "Delete S3 bucket",
        "description": "Deletes an empty bucket using S3-compatible bucket deletion semantics.",
        "tags": [
          "Cloud Storage/S3 Buckets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          }
        ],
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Bucket deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3DeleteResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "DeleteBucket"
      }
    },
    "/cloud/v3/storage/buckets/{bucket}/location": {
      "get": {
        "operationId": "cloudStorageBuckets.location.retrieve",
        "summary": "Retrieve S3 bucket location",
        "description": "Retrieves the S3 bucket region or provider location constraint.",
        "tags": [
          "Cloud Storage/S3 Buckets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          }
        ],
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Bucket location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3BucketLocationResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "GetBucketLocation"
      }
    },
    "/cloud/v3/storage/buckets/{bucket}/versioning": {
      "get": {
        "operationId": "cloudStorageBuckets.versioning.retrieve",
        "summary": "Retrieve S3 bucket versioning",
        "description": "Retrieves S3-compatible bucket versioning state.",
        "tags": [
          "Cloud Storage/S3 Buckets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          }
        ],
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Bucket versioning configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3BucketVersioningResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "GetBucketVersioning"
      },
      "put": {
        "operationId": "cloudStorageBuckets.versioning.put",
        "summary": "Put S3 bucket versioning",
        "description": "Updates S3-compatible bucket versioning state.",
        "tags": [
          "Cloud Storage/S3 Buckets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/S3BucketVersioning"
              }
            }
          }
        },
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Bucket versioning updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3BucketVersioningResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "PutBucketVersioning"
      }
    },
    "/cloud/v3/storage/buckets/{bucket}/cors": {
      "get": {
        "operationId": "cloudStorageBuckets.cors.retrieve",
        "summary": "Retrieve S3 bucket CORS",
        "description": "Retrieves S3-compatible bucket CORS rules.",
        "tags": [
          "Cloud Storage/S3 Buckets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          }
        ],
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Bucket CORS rules.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3BucketCorsResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "GetBucketCors"
      },
      "put": {
        "operationId": "cloudStorageBuckets.cors.put",
        "summary": "Put S3 bucket CORS",
        "description": "Updates S3-compatible bucket CORS rules.",
        "tags": [
          "Cloud Storage/S3 Buckets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/S3BucketCors"
              }
            }
          }
        },
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Bucket CORS updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3BucketCorsResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "PutBucketCors"
      }
    },
    "/cloud/v3/storage/buckets/{bucket}/lifecycle": {
      "get": {
        "operationId": "cloudStorageBuckets.lifecycle.retrieve",
        "summary": "Retrieve S3 bucket lifecycle",
        "description": "Retrieves S3-compatible bucket lifecycle rules.",
        "tags": [
          "Cloud Storage/S3 Buckets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          }
        ],
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Bucket lifecycle rules.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3BucketLifecycleResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "GetBucketLifecycleConfiguration"
      },
      "put": {
        "operationId": "cloudStorageBuckets.lifecycle.put",
        "summary": "Put S3 bucket lifecycle",
        "description": "Updates S3-compatible bucket lifecycle rules.",
        "tags": [
          "Cloud Storage/S3 Buckets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/S3BucketLifecycle"
              }
            }
          }
        },
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Bucket lifecycle updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3BucketLifecycleResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "PutBucketLifecycleConfiguration"
      }
    },
    "/cloud/v3/storage/buckets/{bucket}/policy": {
      "get": {
        "operationId": "cloudStorageBuckets.policy.retrieve",
        "summary": "Retrieve S3 bucket policy",
        "description": "Retrieves S3-compatible bucket policy JSON.",
        "tags": [
          "Cloud Storage/S3 Buckets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          }
        ],
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Bucket policy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3BucketPolicyResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "GetBucketPolicy"
      },
      "put": {
        "operationId": "cloudStorageBuckets.policy.put",
        "summary": "Put S3 bucket policy",
        "description": "Updates S3-compatible bucket policy JSON.",
        "tags": [
          "Cloud Storage/S3 Buckets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/S3BucketPolicy"
              }
            }
          }
        },
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Bucket policy updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3BucketPolicyResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "PutBucketPolicy"
      }
    },
    "/cloud/v3/storage/buckets/{bucket}/acl": {
      "get": {
        "operationId": "cloudStorageBuckets.acl.retrieve",
        "summary": "Retrieve S3 bucket ACL",
        "description": "Retrieves the S3-compatible bucket access control policy. Provider plugins normalize provider-native ACL grants into the S3 ACL model.",
        "tags": [
          "Cloud Storage/S3 Buckets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          }
        ],
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Bucket ACL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3AccessControlPolicyResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "GetBucketAcl"
      },
      "put": {
        "operationId": "cloudStorageBuckets.acl.put",
        "summary": "Put S3 bucket ACL",
        "description": "Updates the S3-compatible bucket access control policy. Supports canned ACLs and explicit grants when supported by the provider.",
        "tags": [
          "Cloud Storage/S3 Buckets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          },
          {
            "$ref": "#/components/parameters/S3AclHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/S3AccessControlPolicy"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/S3AccessControlPolicyExample"
                }
              }
            }
          }
        },
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Bucket ACL updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3AccessControlPolicyResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "PutBucketAcl"
      }
    },
    "/cloud/v3/storage/buckets/{bucket}/tagging": {
      "get": {
        "operationId": "cloudStorageBuckets.tagging.retrieve",
        "summary": "Retrieve S3 bucket tagging",
        "description": "Retrieves S3-compatible bucket tag set.",
        "tags": [
          "Cloud Storage/S3 Buckets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          }
        ],
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Bucket tags.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3TaggingResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "GetBucketTagging"
      },
      "put": {
        "operationId": "cloudStorageBuckets.tagging.put",
        "summary": "Put S3 bucket tagging",
        "description": "Updates S3-compatible bucket tag set.",
        "tags": [
          "Cloud Storage/S3 Buckets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/S3Tagging"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/S3TaggingExample"
                }
              }
            }
          }
        },
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Bucket tags updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3TaggingResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "PutBucketTagging"
      }
    },
    "/cloud/v3/storage/buckets/{bucket}/objects": {
      "get": {
        "operationId": "cloudStorageObjects.list",
        "summary": "List S3 objects",
        "description": "Lists objects in a bucket using S3-compatible ListObjectsV2 semantics.",
        "tags": [
          "Cloud Storage/S3 Objects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          },
          {
            "$ref": "#/components/parameters/PrefixQuery"
          },
          {
            "$ref": "#/components/parameters/DelimiterQuery"
          },
          {
            "$ref": "#/components/parameters/ContinuationTokenQuery"
          },
          {
            "$ref": "#/components/parameters/MaxKeysQuery"
          }
        ],
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Object listing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3ObjectListResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "ListObjectsV2"
      }
    },
    "/cloud/v3/storage/buckets/{bucket}/objects/delete": {
      "post": {
        "operationId": "cloudStorageObjects.batchDelete",
        "summary": "Batch delete S3 objects",
        "description": "Deletes multiple object keys with S3-compatible DeleteObjects semantics, including versioned object identifiers and quiet mode.",
        "tags": [
          "Cloud Storage/S3 Objects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/S3ObjectBatchDeleteRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/S3ObjectBatchDeleteRequestExample"
                }
              }
            }
          }
        },
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Batch delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3ObjectBatchDeleteResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/S3ObjectBatchDeleteResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "DeleteObjects"
      }
    },
    "/cloud/v3/storage/buckets/{bucket}/objects/{objectKey}": {
      "put": {
        "operationId": "cloudStorageObjects.put",
        "summary": "Put S3 object",
        "description": "Uploads an object using S3-compatible PutObject semantics. objectKey must be URL encoded when it contains slashes or reserved characters.",
        "tags": [
          "Cloud Storage/S3 Objects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/ObjectKeyPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          },
          {
            "$ref": "#/components/parameters/S3ContentMd5Header"
          },
          {
            "$ref": "#/components/parameters/S3ContentSha256Header"
          },
          {
            "$ref": "#/components/parameters/S3AclHeader"
          },
          {
            "$ref": "#/components/parameters/S3StorageClassHeader"
          },
          {
            "$ref": "#/components/parameters/S3ChecksumAlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/S3ServerSideEncryptionHeader"
          },
          {
            "$ref": "#/components/parameters/S3ServerSideEncryptionAwsKmsKeyIdHeader"
          },
          {
            "$ref": "#/components/parameters/S3TaggingHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Object uploaded.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "S3VersionId": {
                "$ref": "#/components/headers/S3VersionId"
              },
              "S3RequestId": {
                "$ref": "#/components/headers/S3RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3ObjectResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/S3ObjectResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "PutObject"
      },
      "get": {
        "operationId": "cloudStorageObjects.get",
        "summary": "Get S3 object",
        "description": "Downloads an object using S3-compatible GetObject semantics.",
        "tags": [
          "Cloud Storage/S3 Objects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/ObjectKeyPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          },
          {
            "$ref": "#/components/parameters/VersionIdQuery"
          },
          {
            "$ref": "#/components/parameters/S3RangeHeader"
          }
        ],
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Object bytes.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "S3VersionId": {
                "$ref": "#/components/headers/S3VersionId"
              },
              "S3RequestId": {
                "$ref": "#/components/headers/S3RequestId"
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "GetObject"
      },
      "head": {
        "operationId": "cloudStorageObjects.head",
        "summary": "Head S3 object",
        "description": "Reads object metadata using S3-compatible HeadObject semantics.",
        "tags": [
          "Cloud Storage/S3 Objects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/ObjectKeyPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          },
          {
            "$ref": "#/components/parameters/VersionIdQuery"
          }
        ],
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Object metadata.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "S3VersionId": {
                "$ref": "#/components/headers/S3VersionId"
              },
              "S3RequestId": {
                "$ref": "#/components/headers/S3RequestId"
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "HeadObject"
      },
      "delete": {
        "operationId": "cloudStorageObjects.delete",
        "summary": "Delete S3 object",
        "description": "Deletes an object using S3-compatible DeleteObject semantics.",
        "tags": [
          "Cloud Storage/S3 Objects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/ObjectKeyPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          },
          {
            "$ref": "#/components/parameters/VersionIdQuery"
          }
        ],
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Object deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3DeleteResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "DeleteObject"
      }
    },
    "/cloud/v3/storage/buckets/{bucket}/objects/{objectKey}/copy": {
      "post": {
        "operationId": "cloudStorageObjects.copy",
        "summary": "Copy S3 object",
        "description": "Copies an object using S3-compatible CopyObject semantics. The x-amz-copy-source header or JSON source fields may be used by provider plugins.",
        "tags": [
          "Cloud Storage/S3 Objects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/ObjectKeyPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          },
          {
            "$ref": "#/components/parameters/S3CopySourceHeader"
          },
          {
            "$ref": "#/components/parameters/S3MetadataDirectiveHeader"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/S3CopyObjectRequest"
              }
            }
          }
        },
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Object copied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3ObjectResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "CopyObject"
      }
    },
    "/cloud/v3/storage/buckets/{bucket}/objects/{objectKey}/acl": {
      "get": {
        "operationId": "cloudStorageObjects.acl.retrieve",
        "summary": "Retrieve S3 object ACL",
        "description": "Retrieves the S3-compatible object access control policy.",
        "tags": [
          "Cloud Storage/S3 Objects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/ObjectKeyPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          },
          {
            "$ref": "#/components/parameters/VersionIdQuery"
          }
        ],
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Object ACL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3AccessControlPolicyResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "GetObjectAcl"
      },
      "put": {
        "operationId": "cloudStorageObjects.acl.put",
        "summary": "Put S3 object ACL",
        "description": "Updates the S3-compatible object access control policy. Supports canned ACLs and explicit grants when supported by the provider.",
        "tags": [
          "Cloud Storage/S3 Objects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/ObjectKeyPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          },
          {
            "$ref": "#/components/parameters/VersionIdQuery"
          },
          {
            "$ref": "#/components/parameters/S3AclHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/S3AccessControlPolicy"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/S3AccessControlPolicyExample"
                }
              }
            }
          }
        },
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Object ACL updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3AccessControlPolicyResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "PutObjectAcl"
      }
    },
    "/cloud/v3/storage/buckets/{bucket}/objects/{objectKey}/tagging": {
      "get": {
        "operationId": "cloudStorageObjects.tagging.retrieve",
        "summary": "Retrieve S3 object tagging",
        "description": "Retrieves S3-compatible object tag set.",
        "tags": [
          "Cloud Storage/S3 Objects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/ObjectKeyPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          },
          {
            "$ref": "#/components/parameters/VersionIdQuery"
          }
        ],
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Object tags.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3TaggingResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "GetObjectTagging"
      },
      "put": {
        "operationId": "cloudStorageObjects.tagging.put",
        "summary": "Put S3 object tagging",
        "description": "Updates S3-compatible object tag set.",
        "tags": [
          "Cloud Storage/S3 Objects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/ObjectKeyPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          },
          {
            "$ref": "#/components/parameters/VersionIdQuery"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/S3Tagging"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/S3TaggingExample"
                }
              }
            }
          }
        },
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Object tags updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3TaggingResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "PutObjectTagging"
      }
    },
    "/cloud/v3/storage/buckets/{bucket}/multipart_uploads": {
      "get": {
        "operationId": "cloudStorageMultipartUploads.list",
        "summary": "List S3 multipart uploads",
        "description": "Lists in-progress multipart uploads for a bucket using S3-compatible ListMultipartUploads semantics.",
        "tags": [
          "Cloud Storage/S3 Multipart"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          },
          {
            "$ref": "#/components/parameters/PrefixQuery"
          },
          {
            "$ref": "#/components/parameters/DelimiterQuery"
          },
          {
            "$ref": "#/components/parameters/KeyMarkerQuery"
          },
          {
            "$ref": "#/components/parameters/UploadIdMarkerQuery"
          },
          {
            "$ref": "#/components/parameters/MaxUploadsQuery"
          }
        ],
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Multipart uploads.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3MultipartUploadListResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "ListMultipartUploads"
      }
    },
    "/cloud/v3/storage/buckets/{bucket}/objects/{objectKey}/multipart_uploads": {
      "post": {
        "operationId": "cloudStorageMultipartUploads.create",
        "summary": "Create S3 multipart upload",
        "description": "Initiates an S3-compatible multipart upload and returns the uploadId.",
        "tags": [
          "Cloud Storage/S3 Multipart"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/ObjectKeyPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          },
          {
            "$ref": "#/components/parameters/S3AclHeader"
          },
          {
            "$ref": "#/components/parameters/S3StorageClassHeader"
          },
          {
            "$ref": "#/components/parameters/S3ChecksumAlgorithmHeader"
          },
          {
            "$ref": "#/components/parameters/S3ServerSideEncryptionHeader"
          },
          {
            "$ref": "#/components/parameters/S3ServerSideEncryptionAwsKmsKeyIdHeader"
          },
          {
            "$ref": "#/components/parameters/S3TaggingHeader"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/S3CreateMultipartUploadRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/S3CreateMultipartUploadRequestExample"
                }
              }
            }
          }
        },
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Multipart upload created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3MultipartUploadResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/S3MultipartUploadResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "CreateMultipartUpload"
      }
    },
    "/cloud/v3/storage/buckets/{bucket}/objects/{objectKey}/multipart_uploads/{uploadId}/parts": {
      "get": {
        "operationId": "cloudStorageMultipartUploadParts.list",
        "summary": "List S3 multipart upload parts",
        "description": "Lists uploaded parts for an S3-compatible multipart upload.",
        "tags": [
          "Cloud Storage/S3 Multipart"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/ObjectKeyPath"
          },
          {
            "$ref": "#/components/parameters/UploadIdPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          }
        ],
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Multipart upload parts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3MultipartPartListResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "ListParts"
      }
    },
    "/cloud/v3/storage/buckets/{bucket}/objects/{objectKey}/multipart_uploads/{uploadId}/parts/{partNumber}": {
      "put": {
        "operationId": "cloudStorageMultipartUploadParts.put",
        "summary": "Upload S3 multipart part",
        "description": "Uploads one part for an S3-compatible multipart upload.",
        "tags": [
          "Cloud Storage/S3 Multipart"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/ObjectKeyPath"
          },
          {
            "$ref": "#/components/parameters/UploadIdPath"
          },
          {
            "$ref": "#/components/parameters/PartNumberPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          },
          {
            "$ref": "#/components/parameters/S3ContentMd5Header"
          },
          {
            "$ref": "#/components/parameters/S3ContentSha256Header"
          },
          {
            "$ref": "#/components/parameters/S3ChecksumAlgorithmHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Multipart upload part stored.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "S3RequestId": {
                "$ref": "#/components/headers/S3RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3MultipartPartResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "UploadPart"
      }
    },
    "/cloud/v3/storage/buckets/{bucket}/objects/{objectKey}/multipart_uploads/{uploadId}/complete": {
      "post": {
        "operationId": "cloudStorageMultipartUploads.complete",
        "summary": "Complete S3 multipart upload",
        "description": "Completes an S3-compatible multipart upload after all parts have been uploaded.",
        "tags": [
          "Cloud Storage/S3 Multipart"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/ObjectKeyPath"
          },
          {
            "$ref": "#/components/parameters/UploadIdPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/S3CompleteMultipartUploadRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/S3CompleteMultipartUploadRequestExample"
                }
              }
            }
          }
        },
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Multipart upload completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3ObjectResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/S3ObjectResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "CompleteMultipartUpload"
      }
    },
    "/cloud/v3/storage/buckets/{bucket}/objects/{objectKey}/multipart_uploads/{uploadId}/abort": {
      "post": {
        "operationId": "cloudStorageMultipartUploads.abort",
        "summary": "Abort S3 multipart upload",
        "description": "Aborts an S3-compatible multipart upload and releases uploaded part storage.",
        "tags": [
          "Cloud Storage/S3 Multipart"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BucketPath"
          },
          {
            "$ref": "#/components/parameters/ObjectKeyPath"
          },
          {
            "$ref": "#/components/parameters/UploadIdPath"
          },
          {
            "$ref": "#/components/parameters/StorageProviderCodeHeader"
          }
        ],
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Multipart upload aborted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3DeleteResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "AbortMultipartUpload"
      }
    },
    "/cloud/v3/storage/presigned-urls": {
      "post": {
        "operationId": "cloudStoragePresignedUrls.create",
        "summary": "Create S3 presigned URL",
        "description": "Creates a SigV4-compatible presigned URL for S3 object upload, download, head, delete, or multipart part upload.",
        "tags": [
          "Cloud Storage/S3 Presigned"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/S3PresignedUrlRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/S3PresignedUrlRequestExample"
                }
              }
            }
          }
        },
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Presigned URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3PresignedUrlResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/S3PresignedUrlResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "SDKWorkGeneratePresignedUrl"
      }
    },
    "/cloud/v3/storage/presigned-post-policies": {
      "post": {
        "operationId": "cloudStoragePresignedPostPolicies.create",
        "summary": "Create S3 presigned POST policy",
        "description": "Creates a browser-compatible S3 presigned POST policy with form fields and conditions.",
        "tags": [
          "Cloud Storage/S3 Presigned"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/S3PresignedPostPolicyRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/S3PresignedPostPolicyRequestExample"
                }
              }
            }
          }
        },
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Presigned POST policy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3PresignedPostPolicyResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/S3PresignedPostPolicyResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "SDKWorkGeneratePresignedPost"
      }
    },
    "/cloud/v3/storage/native_operations": {
      "post": {
        "operationId": "cloudStorageNativeOperations.invoke",
        "summary": "Invoke provider-native storage operation",
        "description": "Invokes a provider-native storage operation through a controlled envelope when a provider-specific S3-compatible feature is not yet available as a first-class standard operation.",
        "tags": [
          "Cloud Storage/S3 Native"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/S3NativeOperationRequest"
              }
            }
          }
        },
        "x-sdkwork-definition-only": true,
        "x-s3-compatible": true,
        "responses": {
          "200": {
            "description": "Provider-native response payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3NativeOperationResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudStorageError"
          }
        },
        "x-sdkwork-s3-operation": "SDKWorkInvokeNativeS3Operation"
      }
    },
    "/cloud/v3/iaas/providers": {
      "get": {
        "operationId": "cloudIaasProviders.list",
        "summary": "List IaaS providers",
        "description": "Lists cloud IaaS provider plugins and normalized compute, container, and deployment capability coverage.",
        "tags": [
          "Cloud IaaS/Providers"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "SDKWorkListIaasProviders",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudIaasProviderListResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudIaasProviderListResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        }
      }
    },
    "/cloud/v3/iaas/providers/{providerCode}/capabilities": {
      "get": {
        "operationId": "cloudIaasProviders.capabilities.retrieve",
        "summary": "Retrieve IaaS provider capabilities",
        "description": "Retrieves normalized IaaS capabilities, credential modes, region and zone coverage, and deployment targets for a provider plugin.",
        "tags": [
          "Cloud IaaS/Providers"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "SDKWorkGetIaasProviderCapabilities",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudIaasProviderCapabilitiesResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudIaasProviderCapabilitiesResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IaasProviderCodePath"
          }
        ]
      }
    },
    "/cloud/v3/iaas/regions": {
      "get": {
        "operationId": "cloudIaasRegions.list",
        "summary": "List IaaS regions",
        "description": "Lists available provider regions for compute, container, and deployment workloads.",
        "tags": [
          "Cloud IaaS/Regions"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "SDKWorkListIaasRegions",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudIaasRegionListResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudIaasRegionListResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IaasProviderCodeQuery"
          }
        ]
      }
    },
    "/cloud/v3/iaas/zones": {
      "get": {
        "operationId": "cloudIaasZones.list",
        "summary": "List IaaS zones",
        "description": "Lists availability zones in a provider region.",
        "tags": [
          "Cloud IaaS/Regions"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "SDKWorkListIaasZones",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudIaasZoneListResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudIaasZoneListResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IaasProviderCodeQuery"
          },
          {
            "$ref": "#/components/parameters/IaasRegionCodeQuery"
          }
        ]
      }
    },
    "/cloud/v3/iaas/compute/instances": {
      "get": {
        "operationId": "cloudIaasComputeInstances.list",
        "summary": "List compute instances",
        "description": "Lists normalized virtual machine instances across provider accounts, regions, and zones.",
        "tags": [
          "Cloud IaaS/Compute Instances"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "ComputeListInstances",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudComputeInstanceListResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudComputeInstanceListResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IaasProviderCodeQuery"
          },
          {
            "$ref": "#/components/parameters/IaasRegionCodeQuery"
          },
          {
            "$ref": "#/components/parameters/IaasZoneCodeQuery"
          },
          {
            "$ref": "#/components/parameters/IaasProjectIdQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "$ref": "#/components/parameters/PageTokenQuery"
          }
        ]
      },
      "post": {
        "operationId": "cloudIaasComputeInstances.create",
        "summary": "Create compute instance",
        "description": "Creates a virtual machine instance using normalized image, flavor, SSH key, security group, network, and volume inputs.",
        "tags": [
          "Cloud IaaS/Compute Instances"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "ComputeCreateInstance",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudComputeInstanceResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudComputeInstanceResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudComputeInstanceCreateRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/CloudComputeInstanceCreateRequestExample"
                }
              }
            }
          }
        }
      }
    },
    "/cloud/v3/iaas/compute/instances/{instanceId}": {
      "get": {
        "operationId": "cloudIaasComputeInstances.retrieve",
        "summary": "Retrieve compute instance",
        "description": "Retrieves normalized details for a single virtual machine instance.",
        "tags": [
          "Cloud IaaS/Compute Instances"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "ComputeGetInstance",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudComputeInstanceResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudComputeInstanceResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ComputeInstanceIdPath"
          }
        ]
      },
      "patch": {
        "operationId": "cloudIaasComputeInstances.update",
        "summary": "Update compute instance",
        "description": "Updates mutable metadata or requested size for a virtual machine instance.",
        "tags": [
          "Cloud IaaS/Compute Instances"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "ComputeUpdateInstance",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudComputeInstanceResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudComputeInstanceResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ComputeInstanceIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudComputeInstanceUpdateRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/CloudComputeInstanceUpdateRequestExample"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "cloudIaasComputeInstances.delete",
        "summary": "Delete compute instance",
        "description": "Deletes or terminates a virtual machine instance through the selected provider.",
        "tags": [
          "Cloud IaaS/Compute Instances"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "ComputeDeleteInstance",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudDeleteResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudDeleteResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ComputeInstanceIdPath"
          }
        ]
      }
    },
    "/cloud/v3/iaas/compute/instances/{instanceId}/actions": {
      "post": {
        "operationId": "cloudIaasComputeInstances.actions.invoke",
        "summary": "Invoke compute instance action",
        "description": "Starts, stops, reboots, resizes, rebuilds, snapshots, or resets credentials for a virtual machine instance.",
        "tags": [
          "Cloud IaaS/Compute Instances"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "ComputeInvokeInstanceAction",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudComputeInstanceResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudComputeInstanceResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ComputeInstanceIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudComputeInstanceActionRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/CloudComputeInstanceActionRequestExample"
                }
              }
            }
          }
        }
      }
    },
    "/cloud/v3/iaas/compute/images": {
      "get": {
        "operationId": "cloudIaasComputeImages.list",
        "summary": "List compute images",
        "description": "Lists available VM images for a provider, region, architecture, and operating system.",
        "tags": [
          "Cloud IaaS/Compute Catalog"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "ComputeListImages",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudComputeImageListResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudComputeImageListResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IaasProviderCodeQuery"
          },
          {
            "$ref": "#/components/parameters/IaasRegionCodeQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "$ref": "#/components/parameters/PageTokenQuery"
          }
        ]
      }
    },
    "/cloud/v3/iaas/compute/flavors": {
      "get": {
        "operationId": "cloudIaasComputeFlavors.list",
        "summary": "List compute flavors",
        "description": "Lists VM instance types, vCPU, memory, GPU, and family metadata.",
        "tags": [
          "Cloud IaaS/Compute Catalog"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "ComputeListFlavors",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudComputeFlavorListResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudComputeFlavorListResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IaasProviderCodeQuery"
          },
          {
            "$ref": "#/components/parameters/IaasRegionCodeQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "$ref": "#/components/parameters/PageTokenQuery"
          }
        ]
      }
    },
    "/cloud/v3/iaas/compute/ssh-keys": {
      "get": {
        "operationId": "cloudIaasComputeSshKeys.list",
        "summary": "List SSH keys",
        "description": "Lists SSH public keys registered with the provider account.",
        "tags": [
          "Cloud IaaS/Access Network"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "ComputeListSshKeys",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudComputeSshKeyListResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudComputeSshKeyListResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IaasProviderCodeQuery"
          },
          {
            "$ref": "#/components/parameters/IaasRegionCodeQuery"
          }
        ]
      },
      "post": {
        "operationId": "cloudIaasComputeSshKeys.create",
        "summary": "Create SSH key",
        "description": "Registers an SSH public key with the provider account.",
        "tags": [
          "Cloud IaaS/Access Network"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "ComputeCreateSshKey",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudComputeSshKeyResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudComputeSshKeyResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudComputeSshKeyCreateRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/CloudComputeSshKeyCreateRequestExample"
                }
              }
            }
          }
        }
      }
    },
    "/cloud/v3/iaas/network/security-groups": {
      "get": {
        "operationId": "cloudIaasSecurityGroups.list",
        "summary": "List security groups",
        "description": "Lists provider security groups and normalized ingress or egress rules.",
        "tags": [
          "Cloud IaaS/Access Network"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "NetworkListSecurityGroups",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudSecurityGroupListResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudSecurityGroupListResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IaasProviderCodeQuery"
          },
          {
            "$ref": "#/components/parameters/IaasRegionCodeQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "$ref": "#/components/parameters/PageTokenQuery"
          }
        ]
      },
      "post": {
        "operationId": "cloudIaasSecurityGroups.create",
        "summary": "Create security group",
        "description": "Creates a provider security group with normalized rule definitions.",
        "tags": [
          "Cloud IaaS/Access Network"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "NetworkCreateSecurityGroup",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudSecurityGroupResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudSecurityGroupResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudSecurityGroupCreateRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/CloudSecurityGroupCreateRequestExample"
                }
              }
            }
          }
        }
      }
    },
    "/cloud/v3/iaas/storage/volumes": {
      "get": {
        "operationId": "cloudIaasBlockVolumes.list",
        "summary": "List block volumes",
        "description": "Lists provider block storage volumes used by compute workloads.",
        "tags": [
          "Cloud IaaS/Block Storage"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "BlockVolumeList",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudBlockVolumeListResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudBlockVolumeListResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IaasProviderCodeQuery"
          },
          {
            "$ref": "#/components/parameters/IaasRegionCodeQuery"
          },
          {
            "$ref": "#/components/parameters/IaasZoneCodeQuery"
          },
          {
            "$ref": "#/components/parameters/IaasProjectIdQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "$ref": "#/components/parameters/PageTokenQuery"
          }
        ]
      },
      "post": {
        "operationId": "cloudIaasBlockVolumes.create",
        "summary": "Create block volume",
        "description": "Creates a block storage volume with normalized size, type, encryption, and snapshot options.",
        "tags": [
          "Cloud IaaS/Block Storage"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "BlockVolumeCreate",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudBlockVolumeResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudBlockVolumeResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudBlockVolumeCreateRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/CloudBlockVolumeCreateRequestExample"
                }
              }
            }
          }
        }
      }
    },
    "/cloud/v3/iaas/containers": {
      "get": {
        "operationId": "cloudIaasContainers.list",
        "summary": "List containers",
        "description": "Lists Docker-compatible containers managed through provider compute, container, or app-service runtimes.",
        "tags": [
          "Cloud IaaS/Containers"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "ContainerList",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudContainerListResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudContainerListResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IaasProviderCodeQuery"
          },
          {
            "$ref": "#/components/parameters/IaasRegionCodeQuery"
          },
          {
            "$ref": "#/components/parameters/IaasZoneCodeQuery"
          },
          {
            "$ref": "#/components/parameters/IaasProjectIdQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "$ref": "#/components/parameters/PageTokenQuery"
          }
        ]
      },
      "post": {
        "operationId": "cloudIaasContainers.create",
        "summary": "Create container",
        "description": "Creates a Docker-compatible container workload with image, command, environment, ports, and resource requests.",
        "tags": [
          "Cloud IaaS/Containers"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "ContainerCreate",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudContainerResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudContainerResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudContainerCreateRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/CloudContainerCreateRequestExample"
                }
              }
            }
          }
        }
      }
    },
    "/cloud/v3/iaas/containers/{containerId}/actions": {
      "post": {
        "operationId": "cloudIaasContainers.actions.invoke",
        "summary": "Invoke container action",
        "description": "Starts, stops, restarts, kills, pauses, unpauses, execs, or reads logs for a container workload.",
        "tags": [
          "Cloud IaaS/Containers"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "ContainerInvokeAction",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudContainerResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudContainerResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ContainerIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudContainerActionRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/CloudContainerActionRequestExample"
                }
              }
            }
          }
        }
      }
    },
    "/cloud/v3/iaas/deployments/applications": {
      "get": {
        "operationId": "cloudIaasDeploymentApplications.list",
        "summary": "List deployment applications",
        "description": "Lists deployment application definitions that bind releases to compute, container, or provider app-service targets.",
        "tags": [
          "Cloud IaaS/Deployments"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "DeploymentListApplications",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudDeploymentApplicationListResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudDeploymentApplicationListResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IaasProviderCodeQuery"
          },
          {
            "$ref": "#/components/parameters/IaasRegionCodeQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "$ref": "#/components/parameters/PageTokenQuery"
          }
        ]
      },
      "post": {
        "operationId": "cloudIaasDeploymentApplications.create",
        "summary": "Create deployment application",
        "description": "Creates an application abstraction for repeatable releases and rollouts across IaaS targets.",
        "tags": [
          "Cloud IaaS/Deployments"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "DeploymentCreateApplication",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudDeploymentApplicationResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudDeploymentApplicationResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudDeploymentApplicationCreateRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/CloudDeploymentApplicationCreateRequestExample"
                }
              }
            }
          }
        }
      }
    },
    "/cloud/v3/iaas/deployments/applications/{applicationId}": {
      "get": {
        "operationId": "cloudIaasDeploymentApplications.retrieve",
        "summary": "Retrieve deployment application",
        "description": "Retrieves a deployment application definition.",
        "tags": [
          "Cloud IaaS/Deployments"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "DeploymentGetApplication",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudDeploymentApplicationResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudDeploymentApplicationResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ApplicationIdPath"
          }
        ]
      },
      "patch": {
        "operationId": "cloudIaasDeploymentApplications.update",
        "summary": "Update deployment application",
        "description": "Updates a deployment application name or labels.",
        "tags": [
          "Cloud IaaS/Deployments"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "DeploymentUpdateApplication",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudDeploymentApplicationResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudDeploymentApplicationResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ApplicationIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudDeploymentApplicationUpdateRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/CloudDeploymentApplicationUpdateRequestExample"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "cloudIaasDeploymentApplications.delete",
        "summary": "Delete deployment application",
        "description": "Deletes a deployment application after active rollouts are complete.",
        "tags": [
          "Cloud IaaS/Deployments"
        ],
        "x-sdkwork-definition-only": true,
        "x-sdkwork-iaas-operation": "DeploymentDeleteApplication",
        "responses": {
          "200": {
            "description": "IaaS operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudDeleteResult"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CloudDeleteResultExample"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/CloudIaasError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ApplicationIdPath"
          }
        ]
      }
    },
    "/cloud/v3/iaas/deployments/applications/{applicationId}/releases": {
      "get": {
        "operationId": "cloudIaasDeploymentReleases.list",
[...]
