{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "SDKWork Payment Aggregate API",
    "version": "0.1.0",
    "description": "Definition-only OpenAPI contract for SDKWork unified payment aggregation. The contract standardizes payment order creation, confirmation, cancellation, refund, reconciliation, webhook, provider capability, and controlled provider-native operations. The first supported provider set is WeChat Pay, Alipay, Stripe, PayPal, Apple Pay, and Google Pay, with domestic acquiring providers added later through catalog and capability expansion. Runtime payment processing handlers are not implemented by this document."
  },
  "servers": [
    {
      "url": "https://api.sdkwork.com",
      "description": "SDKWork production API gateway"
    },
    {
      "url": "http://localhost:18080",
      "description": "Local SDKWork API gateway"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Payments/Providers",
      "description": "Payment provider discovery, channel capabilities, and supported method metadata."
    },
    {
      "name": "Payments/Methods",
      "description": "Unified payment method discovery for checkout and native payment scenes."
    },
    {
      "name": "Payments/Intents",
      "description": "Unified payment order lifecycle: create, confirm, query, cancel, and list."
    },
    {
      "name": "Payments/Refunds",
      "description": "Unified refund lifecycle across supported payment providers."
    },
    {
      "name": "Payments/Reconciliation",
      "description": "Statements, bill downloads, reconciliation tasks, and difference reports."
    },
    {
      "name": "Payments/Webhooks",
      "description": "Provider webhook verification, normalized events, and replay controls."
    },
    {
      "name": "Payments/Native",
      "description": "Controlled provider-native operation envelope for capabilities not yet promoted into the unified model."
    }
  ],
  "x-api-prefix": "/payments/v3",
  "x-sdkwork-contract-state": "definition-only",
  "x-sdkwork-sdk-family": "payment-aggregate",
  "x-supported-provider-codes": [
    "wechat_pay",
    "alipay",
    "stripe",
    "paypal",
    "apple_pay",
    "google_pay"
  ],
  "x-extension-provider-codes": [
    "yeepay",
    "unionpay",
    "jd_pay",
    "lianlian_pay",
    "lakala",
    "allinpay",
    "china_ums",
    "fuiou_pay",
    "sandpay",
    "huifu_pay",
    "baofoo",
    "bill99",
    "pingan_pay",
    "icbc_pay",
    "cmb_pay",
    "ccb_pay",
    "boc_pay",
    "psbc_pay"
  ],
  "paths": {
    "/payments/v3/providers": {
      "get": {
        "tags": [
          "Payments/Providers"
        ],
        "operationId": "paymentProviders.list",
        "summary": "List Payment Providers",
        "description": "Lists SDKWork payment providers and the normalized capabilities exposed by each payment channel. The first supported provider set includes WeChat Pay, Alipay, Stripe, PayPal, Apple Pay, and Google Pay. Domestic acquiring providers such as UnionPay, YeePay, JD Pay, China UMS, Lakala, LianLian Pay, Allinpay, Fuiou Pay, Sandpay, Huifu Pay, Baofoo, and 99Bill are extension providers that can be enabled later through catalog and capability expansion.",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "ISO 3166-1 alpha-2 country code used to filter provider availability.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2,
              "example": "CN"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "ISO 4217 currency code used to filter provider availability.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{3}$",
              "example": "CNY"
            }
          },
          {
            "name": "capability",
            "in": "query",
            "required": false,
            "description": "Capability that must be supported by returned providers.",
            "schema": {
              "$ref": "#/components/schemas/PaymentCapabilityCode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment providers returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentProviderListResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      }
    },
    "/payments/v3/providers/{providerCode}/capabilities": {
      "get": {
        "tags": [
          "Payments/Providers"
        ],
        "operationId": "paymentProviders.capabilities.retrieve",
        "summary": "Retrieve Provider Capabilities",
        "description": "Retrieves normalized capability metadata for a single provider, including supported order scenes, refund modes, statement types, webhook events, and provider-native operation names.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProviderCodePath"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment provider capabilities returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentProviderCapabilitiesResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      }
    },
    "/payments/v3/payment_methods": {
      "get": {
        "tags": [
          "Payments/Methods"
        ],
        "operationId": "paymentMethods.list",
        "summary": "List Payment Methods",
        "description": "Lists normalized payment methods that SDKWork can route to one or more payment channels, such as WeChat JSAPI, Alipay app, Stripe Checkout, PayPal Checkout, UnionPay QuickPay, JD Pay, bank transfer, and card payments.",
        "parameters": [
          {
            "name": "providerCode",
            "in": "query",
            "required": false,
            "description": "Provider code used to narrow supported methods.",
            "schema": {
              "$ref": "#/components/schemas/PaymentProviderCode"
            }
          },
          {
            "name": "scene",
            "in": "query",
            "required": false,
            "description": "Checkout scene used to filter method support.",
            "schema": {
              "$ref": "#/components/schemas/PaymentSceneCode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment methods returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodListResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      }
    },
    "/payments/v3/payment_intents": {
      "get": {
        "tags": [
          "Payments/Intents"
        ],
        "operationId": "paymentIntents.list",
        "summary": "List Payment Intents",
        "description": "Lists unified payment orders by merchant order number, provider, status, or creation time.",
        "parameters": [
          {
            "name": "merchantOrderNo",
            "in": "query",
            "required": false,
            "description": "Merchant order number assigned by the caller.",
            "schema": {
              "type": "string",
              "maxLength": 128
            }
          },
          {
            "name": "providerCode",
            "in": "query",
            "required": false,
            "description": "Payment provider code.",
            "schema": {
              "$ref": "#/components/schemas/PaymentProviderCode"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Payment intent status.",
            "schema": {
              "$ref": "#/components/schemas/PaymentIntentStatus"
            }
          },
          {
            "name": "createdFrom",
            "in": "query",
            "required": false,
            "description": "Inclusive lower bound for payment intent creation time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdTo",
            "in": "query",
            "required": false,
            "description": "Exclusive upper bound for payment intent creation time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "1-based page number.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Maximum number of records returned.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment intents returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntentListResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      },
      "post": {
        "tags": [
          "Payments/Intents"
        ],
        "operationId": "paymentIntents.create",
        "summary": "Create Payment Intent",
        "description": "Creates a unified payment order and maps it to the selected or routed provider. This is the standard SDKWORK abstraction over native provider order APIs such as WeChat Pay transactions, Alipay trade create/page pay, Stripe PaymentIntent or Checkout Session, PayPal Orders, and future domestic acquiring provider order APIs.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Unified payment intent creation payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentIntentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment intent created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntentResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      }
    },
    "/payments/v3/payment_intents/{paymentIntentId}": {
      "get": {
        "tags": [
          "Payments/Intents"
        ],
        "operationId": "paymentIntents.retrieve",
        "summary": "Retrieve Payment Intent",
        "description": "Retrieves a unified payment order and its latest normalized provider state.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentIntentIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment intent returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntentResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      }
    },
    "/payments/v3/payment_intents/{paymentIntentId}/confirm": {
      "post": {
        "tags": [
          "Payments/Intents"
        ],
        "operationId": "paymentIntents.confirm",
        "summary": "Confirm Payment Intent",
        "description": "Confirms or starts payment for a unified payment intent. The response carries normalized next actions, such as redirect URLs, QR code URLs, JSAPI parameters, mobile SDK payloads, card confirmation tokens, or provider-native identifiers.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentIntentIdPath"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Unified payment confirmation payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentIntentConfirmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment intent confirmed or actionable next step returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntentResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      }
    },
    "/payments/v3/payment_intents/{paymentIntentId}/capture": {
      "post": {
        "tags": [
          "Payments/Intents"
        ],
        "operationId": "paymentIntents.capture",
        "summary": "Capture Payment Intent",
        "description": "Captures an authorized payment intent through providers that support authorize-and-capture flows, including card, PayPal, Stripe, and domestic acquiring channels that separate authorization from settlement.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentIntentIdPath"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Unified payment capture payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentCaptureRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment intent captured or latest capture state returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntentResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      }
    },
    "/payments/v3/payment_intents/{paymentIntentId}/cancel": {
      "post": {
        "tags": [
          "Payments/Intents"
        ],
        "operationId": "paymentIntents.cancel",
        "summary": "Cancel Payment Intent",
        "description": "Cancels or closes a payment order through the selected provider when the provider supports cancellation or close operations.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaymentIntentIdPath"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Payment cancellation payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentCancelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment intent cancelled or latest state returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntentResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      }
    },
    "/payments/v3/refunds": {
      "get": {
        "tags": [
          "Payments/Refunds"
        ],
        "operationId": "paymentRefunds.list",
        "summary": "List Refunds",
        "description": "Lists unified refund records by payment, merchant refund number, provider, status, or creation time.",
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "query",
            "required": false,
            "description": "SDKWork payment intent id.",
            "schema": {
              "type": "string",
              "maxLength": 128
            }
          },
          {
            "name": "merchantRefundNo",
            "in": "query",
            "required": false,
            "description": "Merchant refund number assigned by the caller.",
            "schema": {
              "type": "string",
              "maxLength": 128
            }
          },
          {
            "name": "providerCode",
            "in": "query",
            "required": false,
            "description": "Payment provider code.",
            "schema": {
              "$ref": "#/components/schemas/PaymentProviderCode"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Refund status.",
            "schema": {
              "$ref": "#/components/schemas/PaymentRefundStatus"
            }
          },
          {
            "name": "createdFrom",
            "in": "query",
            "required": false,
            "description": "Inclusive lower bound for refund creation time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdTo",
            "in": "query",
            "required": false,
            "description": "Exclusive upper bound for refund creation time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "1-based page number.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Maximum number of records returned.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Refunds returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRefundListResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      },
      "post": {
        "tags": [
          "Payments/Refunds"
        ],
        "operationId": "paymentRefunds.create",
        "summary": "Create Refund",
        "description": "Creates a unified refund and maps it to the provider-native refund API. Supports full and partial refunds where available.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Unified refund creation payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRefundCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRefundResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      }
    },
    "/payments/v3/refunds/{refundId}": {
      "get": {
        "tags": [
          "Payments/Refunds"
        ],
        "operationId": "paymentRefunds.retrieve",
        "summary": "Retrieve Refund",
        "description": "Retrieves a unified refund record and the latest provider refund state.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RefundIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Refund returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRefundResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      }
    },
    "/payments/v3/refunds/{refundId}/cancel": {
      "post": {
        "tags": [
          "Payments/Refunds"
        ],
        "operationId": "paymentRefunds.cancel",
        "summary": "Cancel Refund",
        "description": "Cancels a refund when the underlying provider supports refund cancellation or reversal.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RefundIdPath"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Refund cancellation payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundCancelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund cancellation result returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRefundResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      }
    },
    "/payments/v3/reconciliation/statements": {
      "get": {
        "tags": [
          "Payments/Reconciliation"
        ],
        "operationId": "paymentReconciliationStatements.list",
        "summary": "List Reconciliation Statements",
        "description": "Lists provider statement files and normalized settlement windows for bill download, reconciliation, and finance review.",
        "parameters": [
          {
            "name": "providerCode",
            "in": "query",
            "required": false,
            "description": "Payment provider code.",
            "schema": {
              "$ref": "#/components/schemas/PaymentProviderCode"
            }
          },
          {
            "name": "statementType",
            "in": "query",
            "required": false,
            "description": "Statement type.",
            "schema": {
              "$ref": "#/components/schemas/ReconciliationStatementType"
            }
          },
          {
            "name": "businessDate",
            "in": "query",
            "required": false,
            "description": "Business date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "1-based page number.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Maximum number of records returned.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reconciliation statements returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReconciliationStatementListResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      }
    },
    "/payments/v3/reconciliation/statements/{statementId}": {
      "get": {
        "tags": [
          "Payments/Reconciliation"
        ],
        "operationId": "paymentReconciliationStatements.retrieve",
        "summary": "Retrieve Reconciliation Statement",
        "description": "Retrieves a single provider statement metadata record, including normalized statement status, business date, download URL, and provider-native identifiers.",
        "parameters": [
          {
            "$ref": "#/components/parameters/StatementIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Reconciliation statement returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReconciliationStatementResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      }
    },
    "/payments/v3/reconciliation/statements/downloads": {
      "post": {
        "tags": [
          "Payments/Reconciliation"
        ],
        "operationId": "paymentReconciliationStatementDownloads.create",
        "summary": "Create Statement Download",
        "description": "Creates or retrieves a provider statement download task and returns a signed URL or async task id. The API normalizes native bill download concepts such as WeChat bill date, Alipay bill type, Stripe balance transaction report, PayPal transaction report, and future domestic acquiring settlement files.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Statement download request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReconciliationStatementDownloadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Statement download task returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReconciliationStatementDownloadResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      }
    },
    "/payments/v3/reconciliation/tasks": {
      "post": {
        "tags": [
          "Payments/Reconciliation"
        ],
        "operationId": "paymentReconciliationTasks.create",
        "summary": "Create Reconciliation Task",
        "description": "Creates a reconciliation run comparing SDKWork records with provider statements and normalized provider events.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Reconciliation task creation request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReconciliationTaskCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reconciliation task created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReconciliationTaskResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      }
    },
    "/payments/v3/reconciliation/tasks/{taskId}": {
      "get": {
        "tags": [
          "Payments/Reconciliation"
        ],
        "operationId": "paymentReconciliationTasks.retrieve",
        "summary": "Retrieve Reconciliation Task",
        "description": "Retrieves reconciliation task status and summarized difference counts.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ReconciliationTaskIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Reconciliation task returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReconciliationTaskResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      }
    },
    "/payments/v3/reconciliation/tasks/{taskId}/differences": {
      "get": {
        "tags": [
          "Payments/Reconciliation"
        ],
        "operationId": "paymentReconciliationTasks.differences.list",
        "summary": "List Reconciliation Differences",
        "description": "Lists normalized reconciliation differences for a task so finance and operations systems can review missing, amount-mismatched, status-mismatched, duplicate, fee, settlement, and chargeback differences consistently across providers.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ReconciliationTaskIdPath"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Difference type used to filter returned rows.",
            "schema": {
              "$ref": "#/components/schemas/ReconciliationDifferenceType"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "1-based page number.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Maximum number of records returned.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reconciliation differences returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReconciliationDifferenceListResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      }
    },
    "/payments/v3/webhooks/{providerCode}/verify": {
      "post": {
        "tags": [
          "Payments/Webhooks"
        ],
        "operationId": "paymentWebhooks.verify",
        "summary": "Verify Webhook",
        "description": "Verifies a provider webhook signature and returns normalized event metadata without executing business side effects.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProviderCodePath"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Provider webhook verification payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook verification result returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookVerifyResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      }
    },
    "/payments/v3/webhooks/{providerCode}/events": {
      "post": {
        "tags": [
          "Payments/Webhooks"
        ],
        "operationId": "paymentWebhooks.events.create",
        "summary": "Ingest Webhook Event",
        "description": "Accepts a provider webhook delivery, verifies it where possible, normalizes the payment event, and stores an SDKWORK webhook event record without exposing provider-specific payload shapes to SDK callers.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProviderCodePath"
          },
          {
            "$ref": "#/components/parameters/ProviderWebhookDeliveryIdHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Provider webhook event delivery payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEventCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook event normalized and returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEventResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      }
    },
    "/payments/v3/webhook_events": {
      "get": {
        "tags": [
          "Payments/Webhooks"
        ],
        "operationId": "paymentWebhookEvents.list",
        "summary": "List Webhook Events",
        "description": "Lists normalized payment webhook events received from provider channels.",
        "parameters": [
          {
            "name": "providerCode",
            "in": "query",
            "required": false,
            "description": "Payment provider code.",
            "schema": {
              "$ref": "#/components/schemas/PaymentProviderCode"
            }
          },
          {
            "name": "eventType",
            "in": "query",
            "required": false,
            "description": "Normalized event type.",
            "schema": {
              "$ref": "#/components/schemas/PaymentWebhookEventType"
            }
          },
          {
            "name": "deliveryStatus",
            "in": "query",
            "required": false,
            "description": "Event processing status.",
            "schema": {
              "$ref": "#/components/schemas/WebhookDeliveryStatus"
            }
          },
          {
            "name": "createdFrom",
            "in": "query",
            "required": false,
            "description": "Inclusive lower bound for webhook event creation time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdTo",
            "in": "query",
            "required": false,
            "description": "Exclusive upper bound for webhook event creation time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "1-based page number.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Maximum number of records returned.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook events returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEventListResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      }
    },
    "/payments/v3/webhook_events/{eventId}/replay": {
      "post": {
        "tags": [
          "Payments/Webhooks"
        ],
        "operationId": "paymentWebhookEvents.replay",
        "summary": "Replay Webhook Event",
        "description": "Replays a normalized webhook event through SDKWORK payment event processing once the payment aggregation runtime is implemented.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WebhookEventIdPath"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Webhook replay request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookReplayRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook replay result returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookReplayResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      }
    },
    "/payments/v3/native_operations": {
      "post": {
        "tags": [
          "Payments/Native"
        ],
        "operationId": "paymentNativeOperations.invoke",
        "summary": "Invoke Provider Native Operation",
        "description": "Defines the SDKWORK controlled envelope for provider-native payment operations that are not yet promoted into the unified API. This is intended for strict allow-listed operations such as provider-specific order query, statement export, card tokenization, or merchant account verification. It must not bypass SDKWORK authentication, idempotency, auditing, or provider routing controls.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Provider-native operation request envelope.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NativeOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provider-native operation result returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeOperationResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/PaymentError"
          }
        },
        "x-sdkwork-definition-only": true
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "SDKWORK_API_KEY",
        "description": "SDKWork payment aggregation API key."
      }
    },
    "parameters": {
      "IdempotencyKeyHeader": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "description": "Stable idempotency key for write operations.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        }
      },
      "ProviderWebhookDeliveryIdHeader": {
        "name": "X-Provider-Webhook-Delivery-Id",
        "in": "header",
        "required": false,
        "description": "Provider webhook delivery identifier when the payment channel supplies one.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 256
        }
      },
      "ProviderCodePath": {
        "name": "providerCode",
        "in": "path",
        "required": true,
        "description": "Payment provider code.",
        "schema": {
          "$ref": "#/components/schemas/PaymentProviderCode"
        }
      },
      "PaymentIntentIdPath": {
        "name": "paymentIntentId",
        "in": "path",
        "required": true,
        "description": "SDKWork payment intent id.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        }
      },
      "RefundIdPath": {
        "name": "refundId",
        "in": "path",
        "required": true,
        "description": "SDKWork refund id.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        }
      },
      "StatementIdPath": {
        "name": "statementId",
        "in": "path",
        "required": true,
        "description": "SDKWork reconciliation statement id.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        }
      },
      "ReconciliationTaskIdPath": {
        "name": "taskId",
        "in": "path",
        "required": true,
        "description": "SDKWork reconciliation task id.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        }
      },
      "WebhookEventIdPath": {
        "name": "eventId",
        "in": "path",
        "required": true,
        "description": "SDKWork normalized webhook event id.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        }
      }
    },
    "responses": {
      "PaymentError": {
        "description": "Payment aggregation error response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PaymentErrorResult"
            }
          }
        }
      }
    },
    "schemas": {
      "PaymentProviderCode": {
        "type": "string",
        "description": "SDKWORK normalized payment provider code. Initial production support focuses on WeChat Pay, Alipay, Stripe, PayPal, Apple Pay, and Google Pay. Additional domestic acquiring providers are extension codes that must be enabled through provider catalog and capability records before use.",
        "x-sdkwork-initial-provider-codes": [
          "wechat_pay",
          "alipay",
          "stripe",
          "paypal",
          "apple_pay",
          "google_pay"
        ],
        "x-sdkwork-extension-provider-codes": [
          "yeepay",
          "unionpay",
          "jd_pay",
          "lianlian_pay",
          "lakala",
          "allinpay",
          "china_ums",
          "fuiou_pay",
          "sandpay",
          "huifu_pay",
          "baofoo",
          "bill99",
          "pingan_pay",
          "icbc_pay",
          "cmb_pay",
          "ccb_pay",
          "boc_pay",
          "psbc_pay"
        ],
        "pattern": "^[a-z][a-z0-9_]{1,63}$",
        "examples": [
          "wechat_pay",
          "alipay",
          "stripe",
          "paypal"
        ]
      },
      "PaymentCapabilityCode": {
        "type": "string",
        "description": "Normalized payment provider capability.",
        "enum": [
          "payment_intent_create",
          "payment_intent_confirm",
          "payment_intent_capture",
          "payment_intent_cancel",
          "refund_create",
          "refund_cancel",
          "statement_download",
          "reconciliation_task",
          "webhook_verify",
          "webhook_event_ingest",
          "native_operation"
        ]
      },
      "PaymentMethodCode": {
        "type": "string",
        "description": "Normalized payment method code.",
        "enum": [
          "wechat_jsapi",
          "wechat_native",
          "wechat_h5",
          "wechat_app",
          "wechat_mini_program",
          "alipay_page",
          "alipay_wap",
          "alipay_app",
          "alipay_qr",
          "stripe_checkout",
          "stripe_card",
          "paypal_checkout",
          "unionpay_quickpay",
          "jd_pay",
          "yeepay_gateway",
          "card",
          "bank_transfer",
          "wallet_balance"
        ]
      },
      "PaymentSceneCode": {
        "type": "string",
        "description": "Checkout scene.",
        "enum": [
          "web",
          "mobile_web",
          "ios_app",
          "android_app",
          "wechat_mini_program",
          "wechat_official_account",
          "pos",
          "server_to_server",
          "subscription",
          "invoice"
        ]
      },
      "PaymentIntentStatus": {
        "type": "string",
        "description": "Unified payment intent lifecycle status.",
        "enum": [
          "requires_payment_method",
          "requires_confirmation",
          "requires_action",
          "processing",
          "requires_capture",
          "partially_captured",
          "succeeded",
          "failed",
          "canceled",
          "expired",
          "partially_refunded",
          "refunded"
        ]
      },
      "PaymentRefundStatus": {
        "type": "string",
        "description": "Unified refund lifecycle status.",
        "enum": [
          "pending",
          "processing",
          "succeeded",
          "failed",
          "canceled"
        ]
      },
      "ReconciliationStatementType": {
        "type": "string",
        "description": "Provider statement type.",
        "enum": [
          "transaction",
          "settlement",
          "refund",
          "chargeback",
          "fee",
          "balance"
        ]
      },
      "ReconciliationDifferenceType": {
        "type": "string",
        "description": "Normalized reconciliation difference type.",
        "enum": [
          "missing_in_sdkwork",
          "missing_in_provider",
          "amount_mismatch",
          "currency_mismatch",
          "status_mismatch",
          "duplicate_provider_record",
          "fee_mismatch",
          "settlement_mismatch",
          "chargeback_mismatch"
        ]
      },
      "PaymentWebhookEventType": {
        "type": "string",
        "description": "Normalized payment webhook event type.",
        "enum": [
          "payment.authorized",
          "payment.capture.succeeded",
          "payment.capture.failed",
          "payment.succeeded",
          "payment.failed",
          "payment.canceled",
          "refund.created",
          "refund.succeeded",
          "refund.failed",
          "chargeback.created",
          "statement.ready",
          "provider.account.updated"
        ]
      },
      "WebhookDeliveryStatus": {
        "type": "string",
        "description": "Webhook event processing status.",
        "enum": [
          "received",
          "verified",
          "processed",
          "failed",
          "replayed"
        ]
      },
      "MoneyAmount": {
        "type": "object",
        "additionalProperties": false,
        "description": "Decimal money amount. Amounts are strings to avoid floating point loss.",
        "required": [
          "amount",
          "currency"
        ],
        "properties": {
          "amount": {
            "type": "string",
            "pattern": "^\\d+(?:\\.\\d{1,6})?$",
            "description": "Decimal amount in major currency units.",
            "example": "99.90"
          },
          "currency": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "description": "ISO 4217 currency code.",
            "example": "CNY"
          }
        }
      },
      "ProviderNativeOptions": {
        "type": "object",
        "description": "Provider-native request extension fields. Values are passed through only after SDKWORK validates the provider, operation, and allowed fields.",
        "additionalProperties": true
      },
      "MediaResource": {
        "type": "object",
        "additionalProperties": true,
        "description": "SDKWORK standard media resource object. Clients must keep the object shape through API and SDK layers and only extract a delivery URL at rendering or provider handoff boundaries.",
        "required": [
          "kind",
          "source"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "archive",
              "audio",
              "document",
              "image",
              "model",
              "other",
              "video",
              "voice"
            ]
          },
          "source": {
            "type": "string",
            "enum": [
              "data_url",
              "external_url",
              "generated",
              "object_storage",
              "provider_asset"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "publicUrl": {
            "type": "string",
            "format": "uri"
          },
          "uri": {
            "type": "string"
          },
          "objectKey": {
            "type": "string"
          },
          "objectBlobId": {
            "type": "string"
          }
        }
      },
      "PaymentProviderOptions": {
        "type": "object",
        "additionalProperties": false,
        "description": "Optional provider-specific request extensions grouped by provider. Mainstream providers get first-class fields. Future domestic acquiring providers should use extension until promoted into first-class SDKWORK fields.",
        "properties": {
          "wechatPay": {
            "$ref": "#/components/schemas/ProviderNativeOptions"
          },
          "alipay": {
            "$ref": "#/components/schemas/ProviderNativeOptions"
          },
          "stripe": {
            "$ref": "#/components/schemas/ProviderNativeOptions"
          },
          "paypal": {
            "$ref": "#/components/schemas/ProviderNativeOptions"
          },
          "applePay": {
            "$ref": "#/components/schemas/ProviderNativeOptions"
          },
          "googlePay": {
            "$ref": "#/components/schemas/ProviderNativeOptions"
          },
          "extension": {
            "$ref": "#/components/schemas/ProviderNativeOptions"
          }
        }
      },
      "PaymentPayer": {
        "type": "object",
        "additionalProperties": false,
        "description": "Payer information used by providers that require buyer identity or client context.",
        "properties": {
          "id": {
            "type": "string",
            "description": "SDKWORK or merchant payer id."
          },
          "openId": {
            "type": "string",
            "description": "WeChat OpenID or equivalent channel user id."
          },
          "buyerId": {
            "type": "string",
            "description": "Alipay buyer id, PayPal payer id, Stripe customer id, or equivalent provider user id."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Payer email address."
          },
          "phone": {
            "type": "string",
            "description": "Payer phone number."
          },
          "clientIp": {
            "type": "string",
            "description": "Client IP address when required by the provider."
          }
        }
      },
      "PaymentNextAction": {
        "type": "object",
        "additionalProperties": false,
        "description": "Normalized next action that the client should perform to complete payment.",
        "properties": {
          "type": {
            "type": "string",
            "description": "Next action type.",
            "enum": [
              "none",
              "redirect",
              "qr_code",
              "jsapi",
              "mobile_sdk",
              "client_secret",
              "bank_transfer"
            ]
          },
          "redirectUrl": {
            "type": "string",
            "format": "uri",
            "description": "Redirect URL for browser payment."
          },
          "qrCode": {
            "$ref": "#/components/schemas/MediaResource",
            "description": "QR code image media resource. Clients extract a concrete URL only at the rendering boundary."
          },
          "clientSecret": {
            "type": "string",
            "description": "Client confirmation secret for card or wallet SDKs."
          },
          "sdkPayload": {
            "type": "object",
            "description": "Mobile SDK, JSAPI, mini program, or provider client payload.",
            "additionalProperties": true
          }
        }
      },
      "ProviderNativeReference": {
        "type": "object",
        "additionalProperties": false,
        "description": "Provider-native identifiers and response metadata kept alongside the normalized SDKWORK record.",
        "properties": {
          "providerPaymentId": {
            "type": "string",
            "description": "Provider payment order id."
          },
          "providerRefundId": {
            "type": "string",
            "description": "Provider refund id."
          },
          "transactionId": {
            "type": "string",
            "description": "Provider transaction id."
          },
          "prepayId": {
            "type": "string",
            "description": "WeChat Pay prepay id or equivalent pre-order id."
          },
          "tradeNo": {
            "type": "string",
            "description": "Alipay trade number or equivalent provider trade id."
          },
          "raw": {
            "type": "object",
            "description": "Masked provider-native response payload for audit and troubleshooting.",
            "additionalProperties": true
          }
        }
      },
      "PaymentIntentCreateRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Unified SDKWORK payment intent creation request.",
        "required": [
          "merchantOrderNo",
          "amount",
          "subject",
          "providerCode"
        ],
        "properties": {
          "merchantOrderNo": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "description": "Merchant order number."
          },
          "amount": {
            "$ref": "#/components/schemas/MoneyAmount"
          },
          "subject": {
            "type": "string",
            "minLength": 1,
            "maxLength": 256,
            "description": "Payment subject shown to the payer where supported."
          },
          "description": {
            "type": "string",
            "maxLength": 1024,
            "description": "Payment description."
          },
          "providerCode": {
            "$ref": "#/components/schemas/PaymentProviderCode"
          },
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethodCode"
          },
          "scene": {
            "$ref": "#/components/schemas/PaymentSceneCode"
          },
          "notifyUrl": {
            "type": "string",
            "format": "uri",
            "description": "Merchant webhook URL for asynchronous notifications."
          },
          "returnUrl": {
            "type": "string",
            "format": "uri",
            "description": "Browser return URL after payment."
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "Payment expiration time."
          },
          "payer": {
            "$ref": "#/components/schemas/PaymentPayer"
          },
          "metadata": {
            "type": "object",
            "description": "Merchant metadata attached to the payment.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "providerOptions": {
            "$ref": "#/components/schemas/PaymentProviderOptions"
          }
        }
      },
      "PaymentIntentConfirmRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Unified payment confirmation request.",
        "properties": {
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethodCode"
          },
          "scene": {
            "$ref": "#/components/schemas/PaymentSceneCode"
          },
          "payer": {
            "$ref": "#/components/schemas/PaymentPayer"
          },
          "returnUrl": {
            "type": "string",
            "format": "uri",
            "description": "Return URL for redirect-based providers."
          },
          "providerOptions": {
            "$ref": "#/components/schemas/PaymentProviderOptions"
          }
        }
      },
      "PaymentCaptureRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Unified payment capture request for providers that support authorization and delayed capture.",
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/MoneyAmount"
          },
          "finalCapture": {
            "type": "boolean",
            "description": "Whether this capture should close any remaining authorized amount.",
            "default": true
          },
          "metadata": {
            "type": "object",
            "description": "Merchant metadata attached to this capture.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "providerOptions": {
            "$ref": "#/components/schemas/PaymentProviderOptions"
          }
        }
      },
      "PaymentCancelRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Payment cancellation request.",
        "properties": {
          "reason": {
            "type": "string",
            "maxLength": 512,
            "description": "Cancellation reason."
          },
          "providerOptions": {
            "$ref": "#/components/schemas/PaymentProviderOptions"
          }
        }
      },
      "PaymentIntent": {
        "type": "object",
        "additionalProperties": false,
        "description": "Unified SDKWORK payment intent.",
        "required": [
          "id",
          "merchantOrderNo",
          "amount",
          "providerCode",
          "status",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "SDKWORK payment intent id."
          },
          "merchantOrderNo": {
            "type": "string",
            "description": "Merchant order number."
          },
          "amount": {
            "$ref": "#/components/schemas/MoneyAmount"
          },
          "capturedAmount": {
            "$ref": "#/components/schemas/MoneyAmount"
          },
          "refundedAmount": {
            "$ref": "#/components/schemas/MoneyAmount"
          },
          "subject": {
            "type": "string",
            "description": "Payment subject."
          },
          "providerCode": {
            "$ref": "#/components/schemas/PaymentProviderCode"
          },
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethodCode"
          },
          "status": {
            "$ref": "#/components/schemas/PaymentIntentStatus"
          },
          "nextAction": {
            "$ref": "#/components/schemas/PaymentNextAction"
          },
          "providerNative": {
            "$ref": "#/components/schemas/ProviderNativeReference"
          },
          "metadata": {
            "type": "object",
            "description": "Merchant metadata.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation time."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update time."
          }
        }
      },
      "PaymentRefundCreateRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Unified refund creation request.",
        "required": [
          "paymentIntentId",
          "merchantRefundNo",
          "amount",
          "reason"
        ],
        "properties": {
          "paymentIntentId": {
            "type": "string",
            "description": "SDKWORK payment intent id."
          },
          "merchantRefundNo": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "description": "Merchant refund number."
          },
          "amount": {
            "$ref": "#/components/schemas/MoneyAmount"
          },
          "reason": {
            "type": "string",
            "minLength": 1,
            "maxLength": 512,
            "description": "Refund reason."
          },
          "items": {
            "type": "array",
            "description": "Optional item-level refund allocations. When present, the sum of item refund, tax refund, and shipping refund amounts must equal the refund amount.",
            "items": {
              "$ref": "#/components/schemas/PaymentRefundItemCreateRequest"
            }
          },
          "notifyUrl": {
            "type": "string",
            "format": "uri",
            "description": "Merchant refund notification URL."
          },
          "providerOptions": {
            "$ref": "#/components/schemas/PaymentProviderOptions"
          },
          "metadata": {
            "type": "object",
            "description": "Merchant metadata attached to the refund.",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "PaymentRefundItemCreateRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Item-level refund allocation used for order, invoice, tax, shipping, and reconciliation evidence.",
        "required": [
          "orderItemId",
          "quantity",
          "refundAmount"
        ],
        "properties": {
          "orderItemId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "description": "Merchant or SDKWORK order item id being refunded."
          },
          "quantity": {
            "type": "integer",
            "format": "int64",
            "minimum": 1,
            "description": "Refunded item quantity."
          },
          "refundAmount": {
            "$ref": "#/components/schemas/MoneyAmount"
          },
          "taxRefundAmount": {
            "$ref": "#/components/schemas/MoneyAmount"
          },
          "shippingRefundAmount": {
            "$ref": "#/components/schemas/MoneyAmount"
          }
        }
      },
      "RefundCancelRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Refund cancellation request.",
        "properties": {
          "reason": {
            "type": "string",
            "maxLength": 512,
            "description": "Cancellation reason."
          },
          "providerOptions": {
            "$ref": "#/components/schemas/PaymentProviderOptions"
          }
        }
      },
      "PaymentRefund": {
        "type": "object",
        "additionalProperties": false,
        "description": "Unified SDKWORK refund record.",
        "required": [
          "id",
          "paymentIntentId",
          "merchantRefundNo",
          "amount",
          "providerCode",
          "status",
          "items",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "SDKWORK refund id."
          },
          "paymentIntentId": {
            "type": "string",
            "description": "SDKWORK payment intent id."
          },
          "merchantRefundNo": {
            "type": "string",
            "description": "Merchant refund number."
          },
          "amount": {
            "$ref": "#/components/schemas/MoneyAmount"
          },
          "providerCode": {
            "$ref": "#/components/schemas/PaymentProviderCode"
          },
          "status": {
            "$ref": "#/components/schemas/PaymentRefundStatus"
          },
          "reason": {
            "type": "string",
            "description": "Refund reason."
          },
          "items": {
            "type": "array",
            "description": "Item-level refund allocations persisted in commerce_refund_item.",
            "items": {
              "$ref": "#/components/schemas/PaymentRefundItem"
            }
          },
          "providerNative": {
            "$ref": "#/components/schemas/ProviderNativeReference"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation time."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update time."
          }
        }
      },
      "PaymentRefundItem": {
        "type": "object",
        "additionalProperties": false,
        "description": "Unified SDKWORK refund item allocation record.",
        "required": [
          "id",
          "orderItemId",
          "quantity",
          "refundAmount",
          "taxRefundAmount",
          "shippingRefundAmount",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "SDKWORK refund item id."
          },
          "orderItemId": {
            "type": "string",
            "description": "Order item id being refunded."
          },
          "quantity": {
            "type": "integer",
            "format": "int64",
            "description": "Refunded item quantity."
          },
          "refundAmount": {
            "$ref": "#/components/schemas/MoneyAmount"
          },
          "taxRefundAmount": {
            "$ref": "#/components/schemas/MoneyAmount"
          },
          "shippingRefundAmount": {
            "$ref": "#/components/schemas/MoneyAmount"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation time."
          }
        }
      },
      "PaymentProvider": {
        "type": "object",
        "additionalProperties": false,
        "description": "Payment provider metadata.",
        "required": [
          "code",
          "displayName",
          "capabilities"
        ],
        "properties": {
          "code": {
            "$ref": "#/components/schemas/PaymentProviderCode"
          },
          "displayName": {
            "type": "string",
            "description": "Provider display name."
          },
          "countries": {
            "type": "array",
            "description": "Supported countries.",
            "items": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            }
          },
          "currencies": {
            "type": "array",
            "description": "Supported currencies.",
            "items": {
              "type": "string",
              "pattern": "^[A-Z]{3}$"
            }
          },
          "methods": {
            "type": "array",
            "description": "Supported payment methods.",
            "items": {
              "$ref": "#/components/schemas/PaymentMethodCode"
            }
          },
          "capabilities": {
            "type": "array",
            "description": "Supported payment capabilities.",
            "items": {
              "$ref": "#/components/schemas/PaymentCapabilityCode"
            }
          }
        }
      },
      "PaymentProviderCapabilities": {
        "type": "object",
        "additionalProperties": false,
        "description": "Detailed provider capability metadata.",
        "required": [
          "providerCode",
          "capabilities",
          "methods"
        ],
        "properties": {
          "providerCode": {
            "$ref": "#/components/schemas/PaymentProviderCode"
          },
          "capabilities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentCapabilityCode"
            }
          },
          "methods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentMethodCode"
            }
          },
          "nativeOperations": {
            "type": "array",
            "description": "Allowed provider-native operation names.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "additionalProperties": false,
        "description": "Payment method metadata.",
        "required": [
          "code",
          "displayName",
          "providers"
        ],
        "properties": {
          "code": {
            "$ref": "#/components/schemas/PaymentMethodCode"
          },
          "displayName": {
            "type": "string",
            "description": "Payment method display name."
          },
          "providers": {
            "type": "array",
            "description": "Providers that support this method.",
            "items": {
              "$ref": "#/components/schemas/PaymentProviderCode"
            }
          },
          "scenes": {
            "type": "array",
            "description": "Supported checkout scenes.",
            "items": {
              "$ref": "#/components/schemas/PaymentSceneCode"
            }
          }
        }
      },
      "ReconciliationStatement": {
        "type": "object",
        "additionalProperties": false,
        "description": "Payment reconciliation statement metadata.",
        "required": [
          "id",
          "providerCode",
          "statementType",
          "businessDate",
          "status",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Statement id."
          },
          "providerCode": {
            "$ref": "#/components/schemas/PaymentProviderCode"
          },
          "statementType": {
            "$ref": "#/components/schemas/ReconciliationStatementType"
          },
          "businessDate": {
            "type": "string",
            "format": "date",
            "description": "Business date."
          },
          "status": {
            "type": "string",
            "description": "Statement status.",
            "enum": [
              "pending",
              "ready",
              "failed",
              "expired"
            ]
          },
          "downloadUrl": {
            "type": "string",
            "format": "uri",
            "description": "Signed statement download URL."
          },
          "providerNative": {
            "$ref": "#/components/schemas/ProviderNativeReference"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation time."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update time."
          }
        }
      },
      "ReconciliationStatementDownloadRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Statement download creation request.",
        "required": [
          "providerCode",
          "statementType",
          "businessDate"
        ],
        "properties": {
          "providerCode": {
            "$ref": "#/components/schemas/PaymentProviderCode"
          },
          "statementType": {
            "$ref": "#/components/schemas/ReconciliationStatementType"
          },
          "businessDate": {
            "type": "string",
            "format": "date",
            "description": "Business date."
          },
          "providerOptions": {
            "$ref": "#/components/schemas/PaymentProviderOptions"
          }
        }
      },
      "ReconciliationTaskCreateRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Reconciliation task creation request.",
        "required": [
          "providerCode",
          "businessDate"
        ],
        "properties": {
          "providerCode": {
            "$ref": "#/components/schemas/PaymentProviderCode"
          },
          "businessDate": {
            "type": "string",
            "format": "date",
            "description": "Business date."
          },
          "statementIds": {
            "type": "array",
            "description": "Statement ids used for this reconciliation run.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ReconciliationTask": {
        "type": "object",
        "additionalProperties": false,
        "description": "Reconciliation task status and summary.",
        "required": [
          "id",
          "providerCode",
          "businessDate",
          "status",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Task id."
          },
          "providerCode": {
            "$ref": "#/components/schemas/PaymentProviderCode"
          },
          "businessDate": {
            "type": "string",
            "format": "date",
            "description": "Business date."
          },
          "status": {
            "type": "string",
            "description": "Task status.",
            "enum": [
              "pending",
              "running",
              "succeeded",
              "failed"
            ]
          },
          "matchedCount": {
            "type": "integer",
            "description": "Matched transaction count."
          },
          "differenceCount": {
            "type": "integer",
            "description": "Difference count."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation time."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update time."
          }
        }
      },
      "ReconciliationDifference": {
        "type": "object",
        "additionalProperties": false,
        "description": "Normalized reconciliation difference row between SDKWORK records and provider statements or events.",
        "required": [
          "id",
          "taskId",
          "type",
          "status",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Difference id."
          },
          "taskId": {
            "type": "string",
            "description": "Reconciliation task id."
          },
          "type": {
            "$ref": "#/components/schemas/ReconciliationDifferenceType"
          },
          "status": {
            "type": "string",
            "description": "Difference review status.",
            "enum": [
              "open",
              "ignored",
              "resolved"
            ]
          },
          "paymentIntentId": {
            "type": "string",
            "description": "Related SDKWORK payment intent id."
          },
          "refundId": {
            "type": "string",
            "description": "Related SDKWORK refund id."
          },
          "providerCode": {
            "$ref": "#/components/schemas/PaymentProviderCode"
          },
          "sdkworkAmount": {
            "$ref": "#/components/schemas/MoneyAmount"
          },
          "providerAmount": {
            "$ref": "#/components/schemas/MoneyAmount"
          },
          "providerNative": {
            "$ref": "#/components/schemas/ProviderNativeReference"
          },
          "notes": {
            "type": "string",
            "description": "Human-readable difference notes."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation time."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update time."
          }
        }
      },
      "WebhookVerifyRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Provider webhook verification payload.",
        "required": [
          "headers",
          "payload"
        ],
        "properties": {
          "headers": {
            "type": "object",
            "description": "Webhook HTTP headers.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "payload": {
            "type": "object",
            "description": "Provider-native webhook JSON payload.",
            "additionalProperties": true
          },
          "rawBody": {
            "type": "string",
            "description": "Raw webhook body when signature validation needs original bytes."
          }
        }
      },
      "WebhookEventCreateRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Provider webhook delivery payload used to verify, normalize, and store an SDKWORK webhook event.",
        "required": [
          "headers",
          "payload"
        ],
        "properties": {
          "headers": {
            "type": "object",
            "description": "Webhook HTTP headers.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "payload": {
            "type": "object",
            "description": "Provider-native webhook JSON payload.",
            "additionalProperties": true
          },
          "rawBody": {
            "type": "string",
            "description": "Raw webhook body when signature validation needs original bytes."
          },
          "receivedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Time when SDKWORK received the provider delivery."
          }
        }
      },
      "WebhookVerifyResponse": {
        "type": "object",
        "additionalProperties": false,
        "description": "Webhook verification response.",
        "required": [
          "verified"
        ],
        "properties": {
          "verified": {
            "type": "boolean",
            "description": "Whether signature verification succeeded."
          },
          "event": {
            "$ref": "#/components/schemas/WebhookEvent"
          }
        }
      },
      "WebhookEvent": {
        "type": "object",
        "additionalProperties": false,
        "description": "Normalized payment webhook event.",
        "required": [
          "id",
          "providerCode",
          "eventType",
          "deliveryStatus",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "SDKWORK event id."
          },
          "providerCode": {
            "$ref": "#/components/schemas/PaymentProviderCode"
          },
          "eventType": {
            "$ref": "#/components/schemas/PaymentWebhookEventType"
          },
          "paymentIntentId": {
            "type": "string",
            "description": "Related SDKWORK payment intent id."
          },
          "refundId": {
            "type": "string",
            "description": "Related SDKWORK refund id."
          },
          "deliveryStatus": {
            "$ref": "#/components/schemas/WebhookDeliveryStatus"
          },
          "providerNative": {
            "$ref": "#/components/schemas/ProviderNativeReference"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation time."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update time."
          }
        }
      },
      "WebhookReplayRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Webhook replay request.",
        "properties": {
          "reason": {
            "type": "string",
            "maxLength": 512,
            "description": "Replay reason."
          }
        }
      },
      "WebhookReplayResponse": {
        "type": "object",
        "additionalProperties": false,
        "description": "Webhook replay response.",
        "required": [
          "eventId",
          "deliveryStatus"
        ],
        "properties": {
          "eventId": {
            "type": "string",
            "description": "SDKWORK event id."
          },
          "deliveryStatus": {
            "$ref": "#/components/schemas/WebhookDeliveryStatus"
          }
        }
      },
      "NativeOperationRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Provider-native operation request envelope.",
        "required": [
          "providerCode",
          "operation",
          "payload"
        ],
        "properties": {
          "providerCode": {
            "$ref": "#/components/schemas/PaymentProviderCode"
          },
          "operation": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "description": "Allow-listed provider-native operation name."
          },
          "payload": {
            "type": "object",
            "description": "Provider-native payload.",
            "additionalProperties": true
          },
          "metadata": {
            "type": "object",
            "description": "SDKWORK operation metadata.",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "NativeOperationResponse": {
        "type": "object",
        "additionalProperties": false,
        "description": "Provider-native operation response envelope.",
        "required": [
          "providerCode",
          "operation",
          "payload"
        ],
        "properties": {
          "providerCode": {
            "$ref": "#/components/schemas/PaymentProviderCode"
          },
          "operation": {
            "type": "string",
            "description": "Provider-native operation name."
          },
          "providerNative": {
            "$ref": "#/components/schemas/ProviderNativeReference"
          },
          "payload": {
            "type": "object",
            "description": "Provider-native response payload for allowed native operations.",
            "additionalProperties": true
          }
        }
      },
      "PageInfo": {
        "type": "object",
        "additionalProperties": false,
        "description": "Pagination metadata.",
        "required": [
          "page",
          "pageSize",
          "total"
        ],
        "properties": {
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1
          },
          "total": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "PaymentApiError": {
        "type": "object",
        "additionalProperties": false,
        "description": "SDKWORK payment API error details.",
        "required": [
          "type",
          "code",
          "message"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Error type.",
            "enum": [
              "invalid_request",
              "authentication_error",
              "authorization_error",
              "provider_error",
              "idempotency_error",
              "rate_limit_error",
              "internal_error"
            ]
          },
          "code": {
            "type": "string",
            "description": "Stable error code."
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message."
          },
          "providerCode": {
            "$ref": "#/components/schemas/PaymentProviderCode"
          },
          "providerErrorCode": {
            "type": "string",
            "description": "Provider-native error code when available."
          }
        }
      },
      "PaymentProviderListResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentProvider"
            }
          }
        }
      },
      "PaymentProviderCapabilitiesResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "item"
        ],
        "properties": {
          "item": {
            "$ref": "#/components/schemas/PaymentProviderCapabilities"
          }
        }
      },
      "PaymentMethodListResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentMethod"
            }
          }
        }
      },
      "PaymentIntentListResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "items",
          "pageInfo"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentIntent"
            }
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "PaymentIntentResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "item"
        ],
        "properties": {
          "item": {
            "$ref": "#/components/schemas/PaymentIntent"
          }
        }
      },
      "PaymentRefundListResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "items",
          "pageInfo"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentRefund"
            }
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "PaymentRefundResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "item"
        ],
        "properties": {
          "item": {
            "$ref": "#/components/schemas/PaymentRefund"
          }
        }
      },
      "ReconciliationStatementListResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "items",
          "pageInfo"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReconciliationStatement"
            }
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "ReconciliationStatementResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "item"
        ],
        "properties": {
          "item": {
            "$ref": "#/components/schemas/ReconciliationStatement"
          }
        }
      },
      "ReconciliationStatementDownloadResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "statement"
        ],
        "properties": {
          "statement": {
            "$ref": "#/components/schemas/ReconciliationStatement"
          }
        }
      },
      "ReconciliationTaskResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "item"
        ],
        "properties": {
          "item": {
            "$ref": "#/components/schemas/ReconciliationTask"
          }
        }
      },
      "ReconciliationDifferenceListResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "items",
          "pageInfo"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReconciliationDifference"
            }
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "WebhookEventListResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "items",
          "pageInfo"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            }
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "WebhookEventResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "item",
          "verified"
        ],
        "properties": {
          "item": {
            "$ref": "#/components/schemas/WebhookEvent"
          },
          "verified": {
            "type": "boolean",
            "description": "Whether signature verification succeeded for the ingested delivery."
          }
        }
      },
      "PaymentResultBase": {
        "type": "object",
        "description": "SDKWORK standard payment API response envelope base.",
        "required": [
          "requestId",
          "code"
        ],
        "properties": {
          "requestId": {
            "type": "string",
            "description": "SDKWORK request id."
          },
          "code": {
            "type": "string",
            "description": "Business response code."
          },
          "message": {
            "type": "string",
            "description": "Human-readable response message."
          }
        }
      },
      "PaymentProviderListResult": {
        "description": "SDKWORK response envelope containing payment providers.",
        "allOf": [
          {
            "$ref": "#/components/schemas/PaymentResultBase"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/PaymentProviderListResponse"
              }
            }
          }
        ]
      },
      "PaymentProviderCapabilitiesResult": {
        "description": "SDKWORK response envelope containing provider capabilities.",
        "allOf": [
          {
            "$ref": "#/components/schemas/PaymentResultBase"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/PaymentProviderCapabilitiesResponse"
              }
            }
          }
        ]
      },
      "PaymentMethodListResult": {
        "description": "SDKWORK response envelope containing payment methods.",
        "allOf": [
          {
            "$ref": "#/components/schemas/PaymentResultBase"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/PaymentMethodListResponse"
              }
            }
          }
        ]
      },
      "PaymentIntentListResult": {
        "description": "SDKWORK response envelope containing payment intents.",
        "allOf": [
          {
            "$ref": "#/components/schemas/PaymentResultBase"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/PaymentIntentListResponse"
              }
            }
          }
        ]
      },
      "PaymentIntentResult": {
        "description": "SDKWORK response envelope containing one payment intent.",
        "allOf": [
          {
            "$ref": "#/components/schemas/PaymentResultBase"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/PaymentIntentResponse"
              }
            }
          }
        ]
      },
      "PaymentRefundListResult": {
        "description": "SDKWORK response envelope containing refunds.",
        "allOf": [
          {
            "$ref": "#/components/schemas/PaymentResultBase"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/PaymentRefundListResponse"
              }
            }
          }
        ]
      },
      "PaymentRefundResult": {
        "description": "SDKWORK response envelope containing one refund.",
        "allOf": [
          {
            "$ref": "#/components/schemas/PaymentResultBase"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/PaymentRefundResponse"
              }
            }
          }
        ]
      },
      "ReconciliationStatementListResult": {
        "description": "SDKWORK response envelope containing reconciliation statements.",
        "allOf": [
          {
            "$ref": "#/components/schemas/PaymentResultBase"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/ReconciliationStatementListResponse"
              }
            }
          }
        ]
      },
      "ReconciliationStatementResult": {
        "description": "SDKWORK response envelope containing one reconciliation statement.",
        "allOf": [
          {
            "$ref": "#/components/schemas/PaymentResultBase"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/ReconciliationStatementResponse"
              }
            }
          }
        ]
      },
      "ReconciliationStatementDownloadResult": {
        "description": "SDKWORK response envelope containing a statement download task.",
        "allOf": [
          {
            "$ref": "#/components/schemas/PaymentResultBase"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/ReconciliationStatementDownloadResponse"
              }
            }
          }
        ]
      },
      "ReconciliationTaskResult": {
        "description": "SDKWORK response envelope containing a reconciliation task.",
        "allOf": [
          {
            "$ref": "#/components/schemas/PaymentResultBase"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/ReconciliationTaskResponse"
              }
            }
          }
        ]
      },
      "ReconciliationDifferenceListResult": {
        "description": "SDKWORK response envelope containing reconciliation differences.",
        "allOf": [
          {
            "$ref": "#/components/schemas/PaymentResultBase"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
[...]
